/* Step-3 You can assign padding to all sides of a container by using the padding property. */

.content-mid {
  padding: 80px;
 
}

.content-mid-header {
  background: #444;
  height: 15%;
  width: auto;
}

.content-container {
  height: 100%;
  width: auto;
  background-color: white;
}

.content {
  background: #D8D8D8;
  padding: 150px;

}
